body{
    background-color: whitesmoke;
    padding-top: 50px;
}

.header{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.bordeHeader{
    padding-top: -500px;
    padding-bottom: -500px;
    background-color: #6a5dd8;
}

.bordeHeader h2{
    color: white;
}

.btn{
    line-height: 100%;
    border-width: 2px;
}

.contenido{
    padding-top: 50px;
}

.col h2{
    color: black;
}